.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 23%, rgba(52, 13, 56, 1) 50%, rgba(7, 2, 23, 1) 77%);

    padding-top: 3.2rem;
}

.contact__heading>h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    /* padding: 0 3.4rem; */
    /* margin: 0 auto; */
}

.contact__heading>p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-color);

    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;

}


form {
    padding-top: 3.2rem;
}

.form__input>input {
    width: 25rem;
    height: 3.2rem;

    background: rgba(128, 128, 128, 0.1);
    /* opacity: 0.1; */
    border: 3px solid rgba(128, 128, 128, 0.1);
    border-radius: 7px;
    color: var(--text-color);

    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    text-indent: 1rem;

}

.form__input>input::placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-color);
    opacity: 0.1;

    /* display: flex;
align-items: center; */

}

label {
    color: var(--text-color);


}



.textarea {
    width: 30rem;
    height: 26rem;
    background: rgba(128, 128, 128, 0.1);
    /* opacity: 0.1; */
    border: 3px solid rgba(128, 128, 128, 0.1);
    border-radius: 7px;
    color: var(--text-color);

    text-indent: 1.6rem;
    padding-top: 1.6rem;

}

.textarea>cols {
    margin-bottom: 1.6rem;
}

form>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    margin: 3.2rem auto;
    border: 1px solid #DE00AC;
    border-radius: 21px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-color);
    background: #1E1E1E;
}

form>button:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 23%, rgba(52, 13, 56, 1) 50%, rgba(7, 2, 23, 1) 77%); ;
}